<div class="container" id="gifting-poem">
  <div class="calligraphy-heading container below-image">
    <!-- <img src="{{ site.url }}/assets/img/calligraphy/getting-married.png" class="calligraphy-img img-responsive" id="getting-married"> -->
  </div>
  <br>
  <p>The most important gift to us is to have you share our day, </p>
  <p>But should you wish to give us a gift to help us on our way, </p>
  <p>Then a small donation towards our home renovation would really make our day!</p>
  <footer>
  </footer>
</div>
