<div class="container">
  <div class="calligraphy-heading container below-image">
    <img src="{{ site.url }}/assets/img/calligraphy/getting-married.png" class="calligraphy-img img-responsive" id="getting-married">
  </div>
  <p>After nearly 7 years together, and having recently moved into our first proper home, we decided it was about time we ought to get married! We can’t wait to share our special day with you all - our wonderful friends &amp; family.</p>
  <p>In the run up to the big day we’ll be adding more useful information to the site, including our <strong>online RSVPs</strong>, so please do bookmark this page and check back!</p>
  <br>
  <p>Jack made the site &amp; Rachel did the design &amp; lettering - a good little bit of team work right here!</p>
  <footer>
  </footer>
</div>
