<div class="container">
  <div class="calligraphy-heading container below-image">
    <img src="{{ site.url }}/assets/img/calligraphy/getting-married.png" class="calligraphy-img img-responsive" id="getting-married">
  </div>
  <p>After nearly 7 years together, and having recently moved into our first proper home, we decided it was about time we ought to get married! We can’t wait to share our special day with you all - our wonderful friends &amp; family.</p>
  <p>On here you'll find our <a href="rsvp.html">online RSVPs</a>, as well as a list of <a href="faqs.html">FAQs</a> that we'll continue to update as we get closer to the big day!</p>
  <br>
  <p>If you run into any issues, please <a href="mailto:jack.rachel2017@gmail.com?Subject=A%20Question!">don't hesitate to get in touch</a></p>
  <footer>
    <p>Jack made the site &amp; Rachel did the design &amp; lettering - a good little bit of team work right here!</p>
  </footer>
</div>
