<div class="container">
  <!-- Example row of columns -->
  <div>
    <div class="calligraphy-heading container below-image">
      <img src="{{ site.url }}/assets/img/calligraphy/our-venues.png" class="calligraphy-img img-responsive">
    </div>
    <p>The ceremony will take place near <strong>Stockbridge, Hampshire</strong>, with the evening reception in <strong>Southampton</strong>.</p>
    <p class="tinywords">More details will be provided when invitations are sent out!</p>
 </div>
 <!-- <hr> -->
 <div>
    <!-- <h2 class="navy-bars" >Hotels</h2> -->
    <div class="calligraphy-heading container">
      <img src="{{ site.url }}/assets/img/calligraphy/accommodation.png" class="calligraphy-img img-responsive">
    </div>
    <p>Limited rooms are available at the <a href="http://www.grandharbourhotel.co.uk">Grand Harbour Hotel</a>, which is virtually next door to the reception venue.</p>
    <p>Please call the hotel to book on <strong>02380 633033</strong> &amp; quote <code>BASI270917</code> for our special rate.</p>
    <br>
    <div class="tinywords">
      <p>There are a number of other hotels to suit every budget within walking distance or a short taxi ride, including:</p>
      <a href="http://www.premierinn.com/gb/en/hotels/england/hampshire/southampton/southampton-west-quay.html">Premier Inn (West Quay) (££)</a>
      <br>
      <a href="http://www.hisouthamptonhotel.co.uk">Holiday Inn (££)</a>
      <br>
      <a href="https://www.travelodge.co.uk/hotels/589/Southampton-Central-hotel">Travelodge (£)</a>
    </div>
  <div>
  <!-- <hr> -->
  <div>
    <div class="calligraphy-heading container">
      <img src="{{ site.url }}/assets/img/calligraphy/taxis.png" class="calligraphy-img img-responsive">
    </div>
     <p>The local taxi company is <a href="http://westquaycars.com">West Quay Cars</a>, <strong>02380 999999</strong>.</p>
   </div>
   <!-- <hr> -->
  <footer>
    <!-- <p>&copy; 2016 Company, Inc.</p> -->
  </footer>
</div>
